<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451133751673-kq2tlt96762o7h5aol3485n0ht4ccgol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451133751673-kq2tlt96762o7h5aol3485n0ht4ccgol</string>
	<key>API_KEY</key>
	<string>AIzaSyAxA0bg2EZGFBWwSylfI70lXMkACHZiCR8</string>
	<key>GCM_SENDER_ID</key>
	<string>451133751673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lab18.lab18</string>
	<key>PROJECT_ID</key>
	<string>flutterlab18</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlab18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451133751673:ios:d2aa6a6d8b5fabf0d7afa8</string>
</dict>
</plist>